body {
  font-family: Arial, sans-serif;
  background-color: #3624dc;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  background: #6fc636;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #aaa;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #218838;
}

#error-msg {
  color: red;
  margin-top: 10px;
}

